<!DOCTYPE html>
<html ng-app="karthikApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script src="auth/auth.js"></script>
<script src="services/services.js"></script>
<script src="app.js"></script>
<base href="/">
<body ng-controller="AppController">

        <div class="top-nav-left">
                <span><a href='signin' >Signin</a></span>
                <span><a href='signup' >Signup</a></span>
                <span>
                    <a ng-click="signout()" href='logout'>Log Out</a>
                </span>
              </div>

        <div ng-if="!hasSession">
            <h1>NO session</h1>        
        </div>
        <div ng-if="hasSession">
                <h1> session present</h1>        
        </div>

<div ng-view></div>
    

</body>
</html>